@font-face {
    font-family: 'ProximaExtrabold';
    src: url("../../fonts/Extrabold.otf") format("opentype");
}

@font-face {
    font-family: 'ProximaBold';
    src: url("../../fonts/Bold.otf") format("opentype");
}

@font-face {
    font-family: 'ProximaLight';
    src: url("../../fonts/Light.otf") format("opentype");
}

.line{
    background-color: #464744;
    position: absolute;
    height: 2.5%;
    display: none;
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    font-family: 'ProximaBold';
    color: #464744;
}

#lifetaglogo{
    display: block;
    position: absolute;
    width: 15.6944%;
    left: 2%;
}

#mainLabel{
    position: absolute;
    width: 7%;
    left: 25.9166%;
}

#mainLabelLine{
    width: 8.5%;
}

#helpLabel{
    position: absolute;
    width: 7%;
    left: 45.7777%;
}

#helpLabelLine{
    width: 8%;
}

#aboutLabel{
    position: absolute;
    width: 7%;
    left: 64.3194%;
}

#aboutLabelLine{
    width: 6%;
}

#contactsLabel{
    position: absolute;
    width: 7%;
    left: 81.3055%;
}

#contactsLabelLine{
    width: 9.6%;
}

input[type=text]{
    padding-left: 1%;
    border-radius: 3px;
    border: none;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.5);*/
    font-family: 'ProximaLight';
    border: 1px solid rgba(81, 203, 238, 0);
}

input[type=text]:focus{
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}