body{
    background-color: #5D6D87;
}

#main{
    position: absolute;
    width: 63.125%;
    top: 22.9492%;
}

#INeedHelp{
    position: absolute;
    width: 100%;
    font-family: 'ProximaExtrabold';
    color: white;
    text-align: center;
}

#personLogo{
    position: absolute;
    background-image: url("../img/personLogo.png");
    background-size: 100%;
    width: 6.81%;
    top: 13%;
}

#helpCity{
    position: absolute;
    width: 39.2156%;
    top: 30%;
}

#helpCityLabel{
    position: absolute;
    top: 31%;
    left: 18%;
    width: 30%;
    color: white;
    font-family: ProximaBold;
}

#findButt{
     position: absolute;
     width: 43%;
     top: 80%;
     background-color: #464744;
     border: none;
     border-radius: 6px;
     font-family: 'ProximaExtrabold';
     color: white;
     padding-top: 1%;
 }

#findButt:hover{
    background-color: #343d4c;
    color: #c3c5be;
    cursor: pointer;
}

#helpTel{
    position: absolute;
    width: 39.2156%;
    top: 65%;
}

#helpTelLabel{
    position: absolute;
    top: 66%;
    width: 30%;
    color: white;
    font-family: ProximaBold;
}

#tip{
    position: absolute;
    top: 37%;
    width: 40%;
    font-family: 'ProximaLight';
    opacity: 0.56;
    color: white;
}

#boxesL{
    position: absolute;
    width: 46%;
    top: 45%;
    font-family: 'ProximaLight';
    color: white;
}

#boxesR{
    position: absolute;
    width: 46%;
    top: 45%;
    font-family: 'ProximaLight';
    color: white;
}

#home{
    width: 1.1em;
    position: absolute;
    top: 5%;
}

#homeLabel{
    width: 50%;
    position: absolute;
    top: 6%;
    left: 6%;
}

#job{
    width: 1.1em;
    position: absolute;
    top: 30%;
}

#jobLabel{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 6%;
}

#cloth{
    width: 1.1em;
    position: absolute;
    top: 55%;
}

#clothLabel{
    width: 50%;
    position: absolute;
    top: 55%;
    left: 6%;
}

#school{
    width: 1.1em;
    position: absolute;
    top: 80%;
}

#schoolLabel{
    width: 50%;
    position: absolute;
    top: 80%;
    left: 6%;
}

#garden{
    width: 1.1em;
    position: absolute;
    top: 5%;
}

#gardenLabel{
    width: 50%;
    position: absolute;
    top: 5%;
    left: 6%;
}

#law{
    width: 1.1em;
    position: absolute;
    top: 30%;
}

#lawLabel{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 6%;
}

#drive{
    width: 1.1em;
    position: absolute;
    top: 55%;
}

#driveLabel{
    width: 50%;
    position: absolute;
    top: 55%;
    left: 6%;
}