@font-face {
    font-family: 'ProximaExtrabold';
    src: url("../../fonts/Extrabold.otf") format("opentype");
}

@font-face {
    font-family: 'ProximaBold';
    src: url("../../fonts/Bold.otf") format("opentype");
}

@font-face {
    font-family: 'ProximaLight';
    src: url("../../fonts/Light.otf") format("opentype");
}

@font-face {
    font-family: 'Proxima';
    src: url("../../fonts/Regular.otf") format("opentype");
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    font-family: 'ProximaBold';
    color: #464744;
}

#lifetaglogo{
    display: block;
    position: absolute;
    width: 15.6944%;
    left: 2%;

}

.line{
    background-color: #464744;
    position: absolute;
    top: 61%;
    height: 3%;
    display: none;
}

#mainLabel{
    position: absolute;
    width: 12%;
    left: 25.9166%;
    cursor: pointer;
}

#mainLabelLine{
    display: block;
    width: 8.7%;
    left: 25.9166%;
}

#helpLabel{
    position: absolute;
    width: 12%;
    left: 45.7777%;
    cursor: pointer;
}

#helpLabelLine{
    left: 45.7777%;
    width: 11.4%;
}


#aboutLabel{
    position: absolute;
    width: 12%;
    left: 66%;
    cursor: pointer;
}

#aboutLabelLine{
    left: 66%;
    width: 8.2%;
}

#contactsLabel{
    position: absolute;
    width: 12%;
    left: 81.3055%;
    cursor: pointer;
}

#contactsLabelLine{
    left: 81.3055%;
    width: 9.4%;
}

.label:hover{
    color: #5D6D87;
}



input[type=text]{
    padding-left: 1%;
    border-radius: 3px;
    border: none;
    font-family: 'ProximaLight';
    border: 1px solid rgba(81, 203, 238, 0);
}


input[type=text]:focus{
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

input[type=password]{
    padding-left: 1%;
    border-radius: 3px;
    border: none;
    font-family: 'ProximaLight';
    border: 1px solid rgba(81, 203, 238, 0);
}


input[type=password]:focus{
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}